body {
    background-color: #F9E7EF;
}
Header {
    background-color: #FAA0C1 ;
}
header h1 {
    text-align:center;
}
nav {
    background-color: #FABCB8;
    text-align: center;
}
nav ul li a {
    color: black;
}

nav li {
   display:inline-block;
}

p {
    font-family: cursive;
}
main {
    margin:auto;
    width:85%;
}
section p {
    border: 1px solid #0000;
}
